@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    float: left;
    width: 700px;
    height: 500px;
    position: relative;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
}

.item .text {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: right;
    color: white;
    padding: 8px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.3);
}

.text h3,p{
    margin: 2px;
    font-family: 'Lato', sans-serif;
    text-shadow: rgba(0, 0, 0, 0.7) 1px 0 10px;
}

.thumbs {
    float: left;
    height: 100%;
    margin: 70px 20px;
    background: #000;
    position: relative;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);;
}

.thumb {
    height: calc((300px) / 5);
    opacity: 0.8;
    
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb.active {
    border: 2px solid white;
    opacity: 1;
}

.prev, .next {
    width: 20px;
    height: 20px;
    margin: 10px 0;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 999;
}

.next {
    bottom: 0;
}

/*
EXTRA: in questo esempio gli accordion vengono creati
usando 2 bordi di un quadratino ruotato di 45 gradi
In una versione base si possono usare delle icone
oppure i caratteri ∧ (&and;) e ∨ (&or;)
 */
.prev::after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
}

.next::before {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%) rotate(135deg);
}